<script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>


<nav id="header" class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a href="/"><img src="/images/blood-logo.jpg" width="72" height="72"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>
        </ul>

        <a href="#"><img src="/images/user.png" width="62" height="62"></a>

        <ul class="navbar-nav p-1">
            <li class="nav-item p-1">

                닉네임 : <%=locals.nickname%><br>
                등급 : <label id="class"><%=locals.class%></label>

            </li>
            <li class="nav-item p-1">
                <a class="nav-link" href="/users/logout">로그아웃<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item p-1">
                <a class="nav-link" href="/users/mypage">마이페이지<span class="sr-only">(current)</span></a>
            </li>
        </ul>



    </div>
</nav>

<script>
    $(function(){
        if("<%=locals.class%>" == '브론즈')
            $("#class").css("color", "brown");
        else if("<%=locals.class%>" == 'silver')
            $("#class").css("color", "silver");
        else if("<%=locals.class%>" == 'gold')
            $("#class").css("color", "gold");
        else if("<%=locals.class%>" == 'platinum')
            $("#class").css("color", "");
        else
            $("#class").css("color", "");
    })
</script>